*{
   margin: 0; 
   padding: 0;
.noto-serif-{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(images/istockphoto-545442016-612x612.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: lemonchiffon;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.text-box{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.hero-btn{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 13px;
    background: forestgreen;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    background: transparent;
    transition: 1s;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.btn-hero{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: whitesmoke;
    padding: 12px 34px;
    font-size: 13px;
    background: black;
    position: relative;
    cursor: pointer;
}
.btn-hero:hover{
    background: transparent;
    transition: 1s;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: forestgreen;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 100px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

}

/*---- programs ------*/

.programs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.programs h1{
    font-size: 40px;
    font-weight: 600;
    color: forestgreen;
}

.programs p{
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 0 20px;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.programs-col{
    flex-basis: 30%;
    background: rgb(134, 204, 131);
    margin-bottom: 30px;
    padding: 20px 12px;
    border-radius: 10px;
    transition: 1s;
}

.programs-col h3{
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.programs-col:hover{
    background: transparent;
    transition: 1s;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
@media(max-width: 700px){
    .programs-col{
        flex-direction: column;
    }
}

/*---- mission-text ----*/

.body{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.922);
    background-position: center;
    background-size: cover;
    position: relative;
}

.mission-text{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.mission-text h1{
    color: whitesmoke;
    font-size: 65px;
}
.mission-text p{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 0 20px;
}
.mission-image{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.mission-image img{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

@media(max-width: 700px){
    .mission-text h1{
    font-size: 20px;
    }
}
.message-box{
    background-image: url(images/MESSAGE.webp);
    background-size: cover;
}
.layer{
    background-color: rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.922);
    margin: 10vh auto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/*--- Affiliation form btn ---*/
.aft{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/MESSAGE.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.aft h1{
    color: whitesmoke;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-wiidth: 700px){
    .aft h1{
        font-size: 24px;
    }
}

/*----------footer--------*/

.footer{
    padding: 30px 0;
    min-height: auto;
    width: 100%;
    color: rgb(77, 77, 77);
    background-color: rgba(0, 0, 0, 0.922);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    
}
.icons .fa{
    color: forestgreen;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: forestgreen;
}

/*-------- about page -------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.922));
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sub-header h1{
    color: whitesmoke;
}
.sub-header p{
    color: rgb(77, 77, 77);
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px;
}
.about-col img{
    width: 100%;
    border-radius: 10px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.statements{
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color:rgba(16, 5, 5, 0.121);
    background-position: center;
    background-size: cover;
}
.mission-col{
    flex-basis: 48%;
    background: whitesmoke;
    margin-bottom: 30px;
    padding: 20px 12px;
    border-radius: 10px;
}
.vision-col{
    flex-basis: 48%;
    background: whitesmoke;
    margin-bottom: 30px;
    padding: 20px 12px;
    border-radius: 10px;
}

/*-------- leadership team -------*/

.members{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.members-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.members-col img{
    width: 100%;
    border-radius: 10px;
}
.members-col p3{
    padding: 0;
}
.members-col h1{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*------ programs btn -------*/
.enq-btn{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 13px;
    background: forestgreen;
    position: relative;
    cursor: pointer;
}

/*------ events ------*/
.events-col{
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.events-col img{
    width: 100%;
}
.layer{
    background-color: rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.922);
    margin: 10vh auto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/*------ gallery ------*/
.gallery-col{
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.gallery-col img{
    width: 100%;
}

/*------ contact page ------*/

.location{
    width: 80%;
    margin: auto;
    padding-bottom: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col .fa{
    font-size: 28px;
    color: forestgreen;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

/*----- affiliation form -----*/

.main-panel{
    flex-basis: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px 10px 50px 10px;
    border-radius: 10px;
}
.main-panel h1{
    font-size: 35px;
    text-align: center;
    margin: 0;
}
.main-panel img{
    width: 150px;
    background: rgba(0, 0, 0, 0.922);
}
.main-panel .row{
    display: flex;
}
.form-group{
    margin-top: 15px;
    padding: 10px;
    flex-direction: column;
    display: flex;
    width: 100%;
}
.main-panel input{
    width: 100%;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    
}
@media screen and (max-width:700px){
    -ms-flex-wrap: wrap;
}
